<div id="<%= dom_id request_soft_aud %>">
  <p>
    <strong>Request soft:</strong>
    <%= request_soft_aud.request_soft_id %>
  </p>

  <p>
    <strong>Comp class:</strong>
    <%= request_soft_aud.comp_class_id %>
  </p>

</div>
