<% content_for :title, "Editing request soft aud" %>

<h1>Editing request soft aud</h1>

<%= render "form", request_soft_aud: @request_soft_aud %>

<br>

<div>
  <%= link_to "Show this request soft aud", @request_soft_aud %> |
  <%= link_to "Back to request soft auds", request_soft_auds_path %>
</div>
