<div id="<%= dom_id class_software %>">
  <p>
    <strong>Comp class:</strong>
    <%= class_software.comp_class_id %>
  </p>

  <p>
    <strong>Installed software:</strong>
    <%= class_software.installed_software_id %>
  </p>

</div>
