<% content_for :title, "New class software" %>

<h1>New class software</h1>

<%= render "form", class_software: @class_software %>

<br>

<div>
  <%= link_to "Back to class softwares", class_softwares_path %>
</div>
