<% content_for :title, "Editing request soft" %>

<h1>Editing request soft</h1>

<%= render "form", request_soft: @request_soft %>

<br>

<div>
  <%= link_to "Show this request soft", @request_soft %> |
  <%= link_to "Back to request softs", request_softs_path %>
</div>
