<% content_for :title, "New request soft" %>

<h1>New request soft</h1>

<%= render "form", request_soft: @request_soft %>

<br>

<div>
  <%= link_to "Back to request softs", request_softs_path %>
</div>
