<thead class="table-light">
<tr>
  <th>
    <%= f.search_field :name_cont,
                       placeholder: "Название факультета",
                       class: "form-control form-control-sm auto-search",
                       value: params.dig(:q, :name_cont),
                       maxlength: 255 %>
  </th>
  <th>
    <%= f.search_field :description_cont,
                       placeholder: "Примечания",
                       class: "form-control form-control-sm auto-search",
                       value: params.dig(:q, :description_cont),
                       maxlength: 255 %>
  </th>
  <th class="text-end">
    <div class="d-flex gap-2 align-content-end justify-content-end">
      <%= button_tag 'Очистить', type: 'button', class: 'btn btn-secondary btn-sm', id: 'reset-filters' %>
    </div>
  </th>
</tr>
</thead>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".auto-search").forEach((input) => {
            input.addEventListener("input", function () {
                clearTimeout(this.dataset.timer);
                this.dataset.timer = setTimeout(() => {
                    document.getElementById("search-form").requestSubmit();
                }, 300);
            });
        });
    });

    document.getElementById("reset-filters")?.addEventListener("click", function () {
        const form = document.getElementById("search-form");
        if (!form) return;

        // Очистка текстовых и поисковых полей
        form.querySelectorAll("input[type='text'], input[type='date'], input[type='search']").forEach(input => {
            input.value = "";
        });

        // Отправка формы
        form.requestSubmit();
    });
</script>